html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a { color: inherit; }

img {
    width: 100%;
}

/* FONT FAMILY TYPE */
@font-face {
    font-family: Poppins-regular;
    src: url(../font/Poppins-Regular.ttf);
}


@font-face {
    font-family: Poppins-semibold;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../font/Poppins-Bold.ttf);
}






.container {
    width: 1024px;
    margin: auto;
}

.topnav {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

i.fa.fa-shopping-cart {
    padding-top: 10px;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Poppins-regular;
    font-size: 16px;
    color: #000000;
}

.topnav-centered img {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -5px;
}

.topnav-right {
    float: right;
}

.topnav-right button {
    color: #FFFFFF;
    background: #FF5433;
    border: none;
    border-radius: 21px;
    padding: 5px 15px;
    font-family: Poppins-regular;
    font-size: 16px;
}

.topnav-centered img {
    width: 140px;
}

header {
    position: absolute;
    left: 0;
    right: 0;
}

#banner {
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    min-height: 950px;
}

#banner h1 span:first-child{
    font-family: Poppins-bold;
    font-size: 72px;
    color: #000000;
}
#banner h1 span:last-child{
    font-family: Poppins-bold;
    font-size: 72px;
    color: #FF5433;
}

#banner h2{
    font-family: Poppins-semibold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

#banner p{
    font-family: Poppins-regular;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

#banner button{
    font-family: Poppins-regular;
    font-size: 24px;
    color: #FFFFFF;
    background: #FF5433;
    border: none;
    border-radius: 30px;
    padding: 5px 40px;
    position: relative;
    top: 37px;
}

.banner-info {
    position: relative;
    top: -150px;
}


#content {
    position: absolute;
    left: 0;
    right: 0;
}


.d-flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

.d-flex p{
    font-size: 24px;
    font-family: Poppins-semibold;
    color: #000000;
}

.dbox {
    flex: 1;
}

.dbox img {
    width: 165px;
}

#featured {
    background: url(../img/featured_bg.jpg) no-repeat;
    background-size: contain;
    min-height: 1115px;
    background-position: center top;
    display: flex;
    align-items: center;
}

.f-flex {
    display: flex;
}

.fea-box {
    flex: 1;
}

#featured h2 {
    font-family: Poppins-bold;
    font-size: 48px;
    color: #F05E3F;
    margin-top: -270px;
}

p.navigation img {
    width: 28px;
    float: right;
}

.shop-flex {
    display: flex;
}



.s_box {
    flex: 1;
}

.s_box button {
    font-family: Poppins-regular;
    font-size: 24px;
    color: #FFFFFF;
    background: #FF5433;
    border: none;
    border-radius: 30px;
    padding: 5px 40px;
}

.s_box p {
    font-family: Poppins-semibold;
    font-style: italic;
    font-size: 23px;
    line-height: 40px;
    color: #000000;
}

p.viewmore {
    font-family: Poppins-regular;
    font-size: 16px;
    color: #000000;
    padding-bottom: 25px;
}


#blog {
    background: url(../img/blog_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 1300px;
}

p.navigation {
    padding-right: 55px;
}

p.navigation img {
    width: 28px;
    float: right;
    padding: 0 4px;
}

#blog h2 {
    font-family: Poppins-bold;
    font-size: 48px;
    line-height: 56px;
    position: relative;
    color: #F05E3F;
    top: 100px;
    left: -135px;
}

#blog_bot {
    padding: 40px 0;
    text-align: center;
    background: #d7e590;
}

#blog_bot h2 {
    font-family: Poppins-bold;
    font-size: 42px;
    color: #F05E3F;
}

#blog_bot .tlp{
    font-family: Poppins-regular;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

#blog_cus {
    background: #d7e590;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

.cus-flex {
    display: flex;
    justify-content: space-around;
}

.cux_box {
    width: 328px;
    position: relative;
    text-align: center;
}

.abs{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 109%);
}

.abs p:first-child {
    font-family: Poppins-semibold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

p.readbot {
    font-family: Poppins-regular;
    font-size: 16px;
    color: #000000;
}


footer {
    background: #f0785f;
}

.contact-flex {
    display: flex;
    align-items: center;
}

.ct-box {
    flex: 1;
}

.ct-box img {
    width: 140px;
}

.ct-box p {
    font-family: 'Poppins-bold';
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    left: 90px;
    top: -10px;
}

input[type="text"] {
    padding: 8px;
    width: 295px;
    background: #20454e;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Poppins-regular';
}

.ct-box button {
    font-family: 'Poppins-regular';
    font-size: 16px;
    background: #F2b101;
    border: none;
    color: #FFFFFF;
    padding: 8px 28px;
}


.nav-flex {
    display: flex;
}

.nav-box {
    flex: 1;
}

footer h2 {
    font-family: 'Poppins-bold';
    font-size: 16px;
    color: #FFFFFF;
    padding: 50px 0 15px 0;
}

.nav-box ul li {
    display: inline;
    font-size: 16px;
    font-family: 'Poppins-regular';
    padding: 0 50px 0 0px;
    color: #FFFFFF;
}

.last-fot {
    padding: 12px 0;
    border-top: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins-regular';
    margin-top: 35px;
}

footer {
    background: #F0785E;
    padding-top: 50px;
}

.nav-box:last-child li {
    padding: 0 0 0 12px;
    float: right;
}

/*effects */
.topnav a:hover, .nav-box ul li:hover {
    color: #759725;
    font-family: 'Poppins-semibold';
}

#banner button:hover, button:hover {
    background: #d0001b;
}

.dbox:nth-child(1) p:hover {
    color: #fec22a;
}

.dbox:nth-child(3) p:hover {
    color: #6bb4c3;
}

.dbox:nth-child(2) p:hover {
    color: #fd5332
}
.cux_box img:hover {
    opacity: 0.8;
    filter: alpha(opacity=30);
}
/*effects */



/*responsive for mobile view */
@media(max-width: 767px) {
    #wrap {
        width: 100%;
        margin: 0 auto;
    }
    .container {
        width: 100%;
    }
    .d-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #banner h1 span:last-child {
        font-family: Poppins-bold;
        font-size: 31px;
        color: #FF5433;
    }
    #banner h1 span:first-child {
        font-family: Poppins-bold;
        font-size: 32px;
        color: #000000;
    }

    #content {
        position: unset;
    }

    #banner h2 {
        font-size: 26px;
        line-height: 30px;

    }
    #banner{
        min-height: 0;
    }
    #banner p {
        font-size: 15px;
        line-height: 26px;
    }
    #banner button {
        font-size: 12px;
    }
    .banner-info {
        position: relative;
        top: 396px;
    }
    .topnav a {
        font-size: 16px;
        color: #ffffff;
        background: #635542;
    }
    #content {
        position: unset;
        padding-top: 472px;
    }
    #featured {
        min-height: 0;
    }
    .f-flex {
        text-align: center;
        display: unset;
        font-size: 12px;
    }
    #featured h2 {
        font-size: 26px;
        margin-top: 0px;
    }
    .shop-flex {
        text-align: center;
        margin-top: 50px;
    }
    .s_box button {
        font-size: 14px;
        padding: 5px 13px;
    }
    #blog {
        min-height: 0;
    }
    #blog h2 {
        font-size: 18px;
        line-height: unset;
        position: relative;
        left: 0;
        text-align: center;
    }
    #blog_bot {
        padding-top: 117px;
    }
    .cus-flex {
        flex-wrap: wrap;
    }
    .contact-flex {
        flex-direction: column;
    }
    .ct-box p {
        position: relative;
        left: 0;
        text-align: center;
    }
    input[type="text"] {
        width: 100%;
    }
    input[type="text"] {
        padding: 8px 0;
    }
    .ct-box button {
        width: 100%;
    }
    .last-fot {
        text-align: center;
    }
}



@media (min-width: 768px) {
    .container {
        width: 740px;
    }
    #wrap {
        width: 100%;
        margin: 0 auto;
    }
    section#shop {
        margin-top: -440px;
    }
    #blog {
        background: url(../img/blog_bg.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        min-height: 815px;
    }
    #blog h2 {
        position: relative;
        left: 0;
    }
}




@media (min-width: 992px) {
    .container {
        width: 830px;
    }
    section#shop {
        margin-top: -440px;
    }
    #blog {
        background: url(../img/blog_bg.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        min-height: 815px;
    }
    #blog h2 {
        position: relative;
        left: 0;
    }
}




@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
    section#shop {
        margin-top: -150px;
    }
    #blog {
        min-height: 1300px;
    }
    #blog h2 {
        position: relative;
        left: -135px;
    }
}





@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .container {
        margin: auto;
        width: 100%;
    }
    #wrap {
        min-width: 100%;
    }
    .topnav-centered {
        text-align: center;
        padding: 20px 0;
    }
    .topnav-centered img {
        float: none;
        position: unset;
        top: 0;
        left: 0;
        transform: none;
    }
}


